* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.user_table {
    margin: 10px auto;
}

.user_table tbody tr td,
thead tr th {
    text-align: center;
    height: 30px;
    border: none;
    background-color: rgba(173, 228, 219, 0.4);
}

.user_table tr:nth-child(even) {
    background-color: #ADE4DB;
}

.userform {
    width: 50%;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.userform table {
    margin: 0 auto
}

.userform textarea,
input[type="text"],
[type="email"],
[type="date"] {
    font-size: 15px;
    resize: none;
    margin-left: 10px;
    outline: none;
    width: auto;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ec8c8c;
}

.userform input[type="checkbox"],
[type="radio"] {
    margin: 10px;
}

.userform input[type="submit"] {
    background-color: #FFEBEB;
    font-size: 15px;
    font-weight: bold;
    border: none;
    width: 250px;
    padding: 15px;
    margin: 10px 30.5%;
    border-radius: 10px;
    cursor: pointer;
}

.userform input[type="submit"]:hover {
    background-color: rgb(255, 220, 220);
}

.fieldError {
    color: #ff0000;
    font-size: 14px;
    margin: 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon_ml {
    margin: 0 5px;
}

.addRowbtn {
    background: none;
    border: none;
    font-size: 18px;
}